[Unit]
Description=Prometheus Alertmanager receiver for SNMP traps
After=network.target

[Service]
EnvironmentFile=-/etc/default/prometheus-webhook-snmp
ExecStart=/usr/bin/prometheus-webhook-snmp $PROMETHEUS_WEBHOOK_SNMP_OPTIONS run
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
